*.o
*.sh.log
*.sh.trs
hexedit
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
test-driver
src/.dirstamp
src/.deps/
tests/.dirstamp
tests/.deps/
tests/test
test-suite.log
